.container-content{
    order: 2;
    background: $bg-second;
    border-radius: 1.5em;
    margin: 1em;
    height: fit-content;
    .header{
        
        color: $color-text-primary;
        padding:0 1em;
        .container-header{
            padding: 1em 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 0.1em #5d616a;
            .label{
                font-size: 1.2em;
            }
            .container-action{
                cursor: pointer;
                display: flex;
                .icon{
                    width: 1em;
                }
                .action{
                    color: #5d616a;
                    font-size: .9em;
                    border-bottom: solid 0.1em #5d616a;
                }
            }
        }
    }

    .scroll{
        overflow-y: scroll;
        height: 75vh;
        padding: 1em;

        &::-webkit-scrollbar {
            width: 8px;     /* Tamaño del scroll en vertical */
            height: 8px;    /* Tamaño del scroll en horizontal */
            display: none;  /* Ocultar scroll */
        }
       
    }

  
    
}

@media screen and (min-width: $middle)
{

    .container-content{
        order: 1;
    }
}
