.subscription{
    padding: 1em;
    .subscription-title{
        text-transform: uppercase;
        color: $color-text-primary;
    }
    .subscription-info{
        background-color: #222530;
        color: $color-text-primary;
        border-radius: 1em;
        padding: 0 1em;
        margin: .5em 0;
        .info{
            border-bottom: solid .15em $color-text-second;
            padding: 1em 0;
            font-size: .8em;
        }
    }
    .container-date{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: $color-text-primary;     
        .icon{
            padding: 0 .5em;
            width: 1em;
        }
        .date{
            font-size: .7em;
            color: $color-text-primary;
        }
    }

    .subscription-stop{
        margin-top: 1em;
        background-color: #222530;
        color: $color-text-primary;
        border-radius: 1em;
        font-size: .8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        .subscription-stop-container-info{
            width: 70%;
            .subscription-stop-title{
                font-weight: 600;
            }
        }
    }
}