.certification{
    order: 1;
    display: flex; 
    justify-content: start;
    margin: 1em 0;
    .container-certification{
     
        background: linear-gradient(270deg, #2e3a4e, #2b3749);
        border: .1em solid green;
        color: green;
        font-weight: 500;
        display: flex;
        align-items: center;
        width: 15em;
        border-radius: 0 1em 1em 0;
        padding: 0.5em;
        justify-content: center;
        border-left: none;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.373);
        
        .icon{
            width: 1.5em;
            margin-right: .5em;
        }
        .label{
            font-size: .9em;
        }
    }

}


@media screen and (min-width: $middle)
{

    .certification{

        order: 2;
        justify-content: center;
        margin: 0;

        .container-certification{
            border: .1em solid green;
            border-radius: 1em 1em 0 0;
            border-bottom: none;
            box-shadow: none;
        }
    }
}